body {
    background-color: #ecf0f1;
    margin: 0px;
}

#contenido{
    position: absolute;
    height: 100%;
    width: 100%;
}

#hi {
    color:#6E8082;
    font-family: 'Roboto', sans-serif;
    font-size: 190px;
    font-weight: 100;
    text-align: center;
    top:133px;
    position: relative;
}

.me{
    font-weight: 500;
    color:#2c3e50;
}

#desc{
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color:#6E8082;
    text-align: center;
    font-size: 52px;
    margin-bottom: 80px;
    position: relative;
    top: 133px;
}

.fa-github:hover{
    color:#d8d2e8;
    transition: color 0.1s linear;
}

.fa-twitter:hover{
    color:#4099FF;
    transition: color 0.1s linear;
}

.fa-instagram:hover{
    color:#9e7144;
    transition: color 0.1s linear;
}

.fa-behance:hover{
    color:#428bca;
    transition: color 0.1s linear;
}

#redes {
    text-align: center;
    width: 100%;
    position: relative;
    top: 133px;
}

.contacto{
    border: solid 2px #2c3e50;
    border-radius: 3px;
    padding: 14px 20px;
    font-size: 18px;
    color: #2c3e50;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: background-color ease .2s;
    text-align: center;
    top: 247px;
    position: relative;
    height: 3%;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#redes i {
    margin: 0 20px;
}

#redes a{
	color:#bdc3c7;
	transition: color 0.1s linear;
}

#redes:hover a{
	color:#bdc3c7;
	transition: color 0.1s linear;
}

.contacto:hover{
    background-color:#2c3e50;
    transition: background 0.1s linear;
    color:#fff;
}

@media (max-width: 512px) {
    #hi{
        top: 1%;
        position: absolute;
        font-size: 90px;
    }

    #desc{
        position: absolute;
        top: 43%;
        font-size: 45px;
    }

    #redes{
        position: absolute;
        top: 76%;
    }

    .contacto{
        background: #2c3e50;
        top: 90%;
        width: 100%;
        border: 0;
        font-weight: 300;
        padding: 0;
        height: 10%;
        line-height: 330%;
        color:#fff;
        border-radius: 0px;
    }
}